body{
	background:#00BFFF;
	font-family: Revalia;

} 

.profile-picture {
	width: 180px;
	height: 180px; 
	border: 8px solid #0101DF;
}

.centered {
	margin: 0px auto; 	
}

.about {
	float: right; 
}

.left-link{
	color: #00FFFF;
}

.middle-link{
	color: #DF0101 
}

.right-link{
	color :#04B404
}

a:hover{ 
	color: #0101DF;
}

.navigation {
	list-style-type: none;
}

.navigation li{ 
	display: inline; 
	margin-right: 210px;
	color: #DF0101
}